.head {
    width: 100%;
    background: url(../img/header-bg.png) -7px 0 repeat-x;
}
.head .home-page a {
    display: block;
}

.head .headMiddle {
    float: left;
    padding-top: 35px;
    padding-left: 3px;
    display: block;
}
.head .headMiddle table.phone {
    float: left;
    display: block;
    max-width: 380px;
    height: 38px;
    overflow: hidden;
}
.head .headMiddle table.phone td {
    vertical-align: top;
}
.head .headMiddle table.phone td.number {
    vertical-align: middle;
    height: 32px;
    font-size: 28px;
}
.head .headMiddle table.franch {
    float: right;
    margin-top: 1px;
}
.head .headRight {
    float: right;
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin-right: 10px;
}

.home-page a{
    text-align: center;
    color: #dcdcdc;
}

.wSearchForm {
  clear: both;
  position: relative;
  float: left;
  width: 100%;
}
.wSearchForm .searchFormContainer {
  position: relative;
  padding-bottom: 5px;
  float: right;
}
.wSearchForm .searchFormContainer .code {
  float: left;
  
    border-style: solid;
    border-color: #181819;
    /*border-color: #f00;*/
    
    border-right: 5px;
  
  /*border: 5px solid #181819;*/
  background: #dcdcdc;
  /*border-radius: 14px;*/
  
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  
}

.wSearchForm .searchFormContainer .code input:-moz-placeholder {
  color: #979797;
  font-style: italic;
}
.wSearchForm .searchFormContainer .code input::-moz-placeholder {
  color: #979797;
  font-style: italic;
}
.wSearchForm .searchFormContainer .code input:-ms-input-placeholder {
  color: #979797;
  font-style: italic;
}
.wSearchForm .searchFormContainer .code input::-webkit-input-placeholder {
  color: #979797;
  font-style: italic;
}
.wSearchForm .searchFormContainer .find {
    float: left;
    border-style: solid;
    border-color: #181819;
    /*border-color: #f00;*/
    
    border-left: 0px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
        /*border: 5px solid #181819;*/
  /*
  position: absolute;
  right: 4px;
  top: 4px;
  */
}
.wVisualFormLogin {
  float: center;
  max-width: 210px;
  min-width: 170px;
}
.wVisualFormLogin .loginLinks {
  position: relative;
  color: #dcdcdc;
  text-align: center;
  /*padding: 0 30px 0 40px;*/
  /*margin-bottom: 28px;*/
  min-height: 27px;
  line-height: 26px;
  background: #181819;
  border-radius: 0 0 10px 10px;
}
.wVisualFormLogin .loginLinks a {
  color: #dcdcdc;
}
.wVisualFormLogin .loginLinks a:hover {
  text-decoration: none;
}
.wCart {
  /*clear: both;*/
  float: left;
  padding-top: 32px;
  color: #fff;
}
.wCart .cart {
  float: left;
  width: 24px;
}
.wCart .basketLegend {
  float: left;
  color: #b0b0b0;
  line-height: 20px;
}
.wCart .basketLegend span.moneySumm {
  color: #fff;
}
.wCart .makeOrder {
  clear: left;
  color: #fff;
  float: right;
}
.wCart .makeOrder.multi {
  clear: right;
}
.wCart .clientBalance {
  clear: both;
  color: #b0b0b0;
  margin-left: 51px;
}
.wCart .clientBalance span {
  color: #fff;
}
.wCart .multicart {
  clear: both;
  padding-right: 10px;
  float: left;
}

.navbar .nav{
  display: block;
  text-decoration: none;
  
  font: normal 16px Arial, sans-serif;
  white-space: nowrap;
}

.head .navbar .navbar-nav > li > a{
    color: #dcdcdc;
}


body {
    background: url(../img/background-min.png) no-repeat #030a13;
}
.head{
    height: 43px;
}
.head .logo a {
    height: 43px;
    display: block;
}
.head .logo a.small{
    display: block;
}
.head .logo a.big{
    display: none;
}

.head .logo-home-page{
    float: left;
}
.head .logo-home-page .logo{
    background: transparent url("../img/logo_white.svg")  no-repeat scroll center center / contain;
    max-height: 100px;
    overflow: hidden;
    height: 43px;
    width: 86px;
}
.head .logo-home-page .home-page{
    display:none;
}
.head .headMiddle{
    padding-top: 0px;
    height: 43px;
}
.head .headMiddle .wSearchForm .searchFormContainer .code input{
    width: 154px;
    padding: 1px 10px 2px;
    position: relative;
    height: 36px;
    border: 0;
    background: #dcdcdc;
    color: #000;
    font: normal 14px Arial, sans-serif;

    outline: none;
    /*border-radius: 14px;*/

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.head .headMiddle .wSearchForm .searchFormContainer .find button{
    padding: 0px;
    width: 25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    margin: 0;
    /*padding: 0 0 0 29px;*/
    /*width: 139px;*/
    height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    background: #900 url(../img/search-btn-bg.png) no-repeat 4px center;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.head .headMiddle .wSearchForm .searchFormContainer .find button:before{
    content: none;
}
.head .headRight{
    display: none;
}
.head .navbar {
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    z-index: 3000;
}
.head .navbar .container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.head .navbar .container > .navbar-header, .head .navbar .container > .navbar-collapse{
    margin-right: 0px;
    margin-left: 0px;
}
.empty-head{
    height: 0px;
}

#auth-modal .modal-dialog {
    max-width: 300px;
    margin: 10px auto;
}

.navbar .navbar-toggle{
    float: left;
    height: 40px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.head, .head .headMiddle .wSearchForm .searchFormContainer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
}
.head .headMiddle .wSearchForm .searchFormContainer{
    width: 100%;
}
.head .headMiddle, .head .headMiddle .wSearchForm .searchFormContainer .code{
    flex-grow: 1;
}

@media only screen and (max-width: 767px)
{
    .head{
        position: fixed;
        z-index: 4000;
    }
    .navbar-collapse.collapse, .navbar-collapse.collapsing{
        background-color: #222;
        position: fixed;
        top: 42px;
        left: 0px;
        right: 0px;
    }
    .empty-head{
        height: 42px;
    }
}

@media only screen and (min-width: 375px)
{
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 184px;
        padding: 1px 10px 2px;
    }
    .head .headMiddle .wSearchForm .searchFormContainer .find button{
        padding: 0px;
        width: 50px;
        background: #900 url(../img/search-btn-bg.png) no-repeat 19px center;
    }
}

@media only screen and (min-width: 479px)
{
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 288px;
    }
}

@media only screen and (min-width: 599px)
{
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 408px;
    }
}

@media only screen and (min-width: 768px)
{
    body {
        background: url(../img/background.png) no-repeat #030a13;
    }
    .head{
        /*height: 172px;*/
        height: 152px;
    }
    .head .logo a{
        height: 100px;
    }
    .head .logo a.small{
        /*display: none;*/
    }
    .head .logo a.big{
        /*display: block;*/
    }
    .head .logo-home-page{
        float: left;
        margin-left: 10px;
    }
    .head .logo-home-page .home-page{
        display:block;
    }
    .head .logo-home-page .logo{
        height: 100px;
        width: 200px;
    }
    .head .headMiddle{
        padding-top: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 145px;
    }
    .head .headMiddle .wSearchForm .searchFormContainer .find button{
        padding: 0 0 0 29px;
        width: 139px;
    }
    .head .headMiddle .wSearchForm .searchFormContainer .find button:before{
        content: 'Найти'
    }
    .head .headRight{
        display: block;
    }
    
    li.logout, li.login{
        display:none;
    }
    
    .head .navbar{
        width: 100%;
        border-radius: 0px;
        margin-top: 0px;
    }
    #auth-modal .modal-dialog {
        margin: 30px auto;
        max-width: 400px;
    }
}

@media only screen and (min-width: 1023px)
{
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 380px;
    }
}

@media only screen and (min-width: 1279px)
{
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 580px;
    }
}

@media only screen and (min-width: 1280px)
{
    .head .headMiddle .wSearchForm .searchFormContainer .code input{
        width: 580px;
    }
    
    .head .headMiddle .wSearchForm .searchFormContainer .find button:before{
        content: 'Найти'
    }
}