.form-signin .checkbox {
  font-weight: normal;
}



.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logocont {
	margin: auto;
    /*width: 160px;*/
}

@media (min-width: 500px) {
  .container {
    width: 482px !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1270px !important;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1470px !important;
  }
}